<!--[form:item]-->
<p>
    <label for='first_name'>First Name</label>
    <br/><%= text_field :user, 'first_name' %>
</p>
<p>
    <label for='last_name'>Last Name</label>
    <br/><%= text_field :user, 'last_name' %>
</p>
<p>
    <label for='email'>Email</label>
    <br/><%= text_field :user, 'email' %>
</p>
<!--[eoform:item]-->